<div class="panel panel-default" ng-cloak>
  <div class="panel-heading clearfix">
  
    <div class="row">
      <div class="col-xs-6">
        <a href="#">Wordlists</a> /
      </div>
      <div class="col-xs-6 text-right">
          <button class="btn btn-primary" ng-click="toggleEdit()">
            <span ng-if="!edit" class="glyphicon glyphicon-edit"></span><span ng-if="!edit" class="hidden-xs"> Edit wordlist</span>
            <span ng-if="edit" class="glyphicon glyphicon-check"></span><span ng-if="edit" class="hidden-xs"> Save wordlist</span>
          </button>
      </div>
    </div>

    <h2 ng-if="!edit">
      {{ wordlist.name }} <small class="badge"> {{ wordlist.s_lang }} <span class="glyphicon glyphicon-arrow-right"></span> {{ wordlist.t_lang }}
      </small>
    </h2>
    
    <div ng-if="edit" class="h2 form-inline">
      <div class="form-group">
        <input ng-model="wordlist.name" type="text" class="form-control input-lg" />
      </div>
      <div class="form-group badge">
            <language-input ng-model="wordlist.s_lang" opposed="wordlist.t_lang" class="form-control input-sm keep-inline inherit"></language-input>
            <span class="glyphicon glyphicon-arrow-right keep-inline"></span>
            <language-input ng-model="wordlist.t_lang" opposed="wordlist.s_lang" class="form-control input-sm keep-inline inherit"></language-input>
      </div>
    </div>

  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li ng-repeat="word in wordlist.words" class="list-group-item">
          <img ng-if="!edit" width="200" ng-src="{{ word.image }}" class="word-image img-thumbnail" />
          
          <image-input ng-if="edit" ng-model="word.image" word="{{ word.word }}" class="img-thumbnail nopadding"></image-input>
          
          <span ng-if="!edit" class="h2">
            {{ word.word }}
            <small>{{ word.translation }}</small>
          </span>
          
          <div ng-if="edit" class="keep-inline">
            <div class="form-group">
              <input ng-model="word.word" type="text" class="form-control input-lg" />
            </div>
            <translation-input ng-model="word.translation" word="{{ word.word }}" s_lang="{{ wordlist.s_lang }}" t_lang="{{ wordlist.t_lang }}"></translation-input>
          </div>
      </li>
    </ul>
  </div>
</div>
