.nopadding {
	padding: 0;
}

.keep-inline {
	display: inline-block;
	width: auto;
}

.inherit {
	background: inherit;
	color: inherit;
	border: inherit;
}

.word-image {
	width: 300px;
}

.loader {
    background-image: url('../img/loader.gif');
    background-repeat: no-repeat;
    background-position: 50%;
}

.tr-box {
    position: absolute;
    margin-top: -3px;
    z-index: 999;
}

.tr-box-content {
	background: white;
 	border: 1px solid #66afe9;
 	border-top: none;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.tr-box-content .alert {
	margin: 0;
	border-radius: 0;
	border: none;
}

.tr-box-content .list-group {
	margin: 0;
}

.tr-box-content .list-group-item {
	padding: 10px 0;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.tr-box-content .list-group-item:first-child {
	border-top: none;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.tr-list-item {
	display: block;
	padding: 2px 15px;
}

.tr-list-item.active {
	background-color: #66afe9;
	color: white;
}

.word-list-item:hover {
	background: #fcf8f2;
}
